* {
  box-sizing: border-box;
}
h1,
p {
  text-align: center;
}
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
a:link,
a:hover,
a:active,
a:visited {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.netflix-row {
  /*height: 300px;*/
  overflow: scroll;
  width: 100%;
}
.netflix-row__inner {
  -webkit-transition: 450ms transform;
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.netflix-tile {
  position: relative;
  display: inline-block;
  /*width: 250px;*/
  /*height: 140.625px;*/
  width: 100px;
  height: 100px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.netflix-tile__img {
  /*width: 250px;*/
  /*height: 140.625px;*/
  -o-object-fit: cover;
     object-fit: cover;
}

.netflix-tile:hover .netflix-tile__details {
  opacity: 1;
}

.netflix-tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.netflix-row__inner:hover {
  -webkit-transform: translate3d(-125px, 0, 0);
          transform: translate3d(-125px, 0, 0);
}
.netflix-row__inner:hover .netflix-tile {
  opacity: 0.3;
}
.netflix-row__inner:hover .netflix-tile:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 1;
}
.netflix-tile:hover ~ .netflix-tile {
  -webkit-transform: translate3d(250px, 0, 0);
          transform: translate3d(250px, 0, 0);
}
