<html>
	<head>
		<title>Interface</title>

		<style>
				body {
				width: 100%;
				margin: auto;
			}

			.container{
				width: 90%;
				margin: 0 auto;
			}

			.header{
				background: #566D7E;
				width: 100%;
				top: 0;
				position: fixed;
			}

			a{
				text-decoration: none;
				color: #BBD8D8;
			}

			li{
				list-style: none;
				float: left;
				margin-left: 15px; 
				padding-top: 10px; 
			}
			.logo{
				float: left;
				font-family: "neutra";
				font-size: 15px;
			}

			.nav{
				float: right;
			}

		</style>

	</head>
	<body style = "background-color:#BBD8D8;">
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1 style = "color: #BBD8D8">P. S.</h1>
				</div>

				<div class="nav">
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="content" style="text-align:center;">
				<br><br><br><br>
				<h3>Fashion Recommendation System</h3>
				<h3>Thank you for participating in our study</h3>
				<br />
				<p id="loadingtext">Eventual consent form text goes here</p>
				<button id="startbutton" style="visibility:hidden;">Start Survey</button>
			</div>
		</div>

		<script src="/static/jquery-2.1.4.min.js"></script>
		<script>
			(function($){
				$.post(
					"{{url_for('index')}}",
					"",
					function(response){
						$("#loadingtext").css("visibility", "hidden");
						$("#startbutton").css("visibility", "visible");
					}
				);
			})(jQuery);

			document.getElementById("startbutton").addEventListener("click", function() {
					var form = document.createElement('form');
					form.method = "GET";
					form.action = "{{url_for('survey_page1')}}";
					form.submit();
			});
		</script>

	</body>
</html>

<!-- https://s3-us-west-2.amazonaws.com/polyvoredata/full/ -->
​