<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	body {
	width: 100%;
	margin: auto;
}

.container{
	width: 1200px;
	margin: 0 auto;
}

.header{
	background: #566D7E;
	width: 100%;
	top: 0;
	position: fixed;
}

.logo{
	float: left;
	font-family: "neutra";
	font-size: 15px;
}

a{
	text-decoration: none;
	color: #BBD8D8;
}

li{
	list-style: none;
	float: left;
	margin-left: 15px; 
	padding-top: 10px; 

    padding: 10px 15px;
}

.nav{
	float: right;
}

p{
	font-size: 20px;
	font-family: "neutra";
}
#div1 {
	width:325px;
	height:250px;
	padding:10px;
	border:1px solid #aaaaaa;
	background-color: white;
}
	</style>
	<title>Interface</title>
	<!--<link rel="stylesheet" type="text/css" href="./css/int.css">-->
</head>
<body style = "background-color:#BBD8D8;">
	<div class="header">
<!-- 	<form action="" method="post" name="post">
 -->		<div class="container">
			<div class="logo">
				<h1 style = "color: #BBD8D8">P. S.</h1>
			</div>

			<div class="nav">
				<ul>
					<!-- <li><input type="submit" value="SAVE" style = "background:  #BBD8D8; color: #566D7E;"></li> -->
					<li><input id="savebutton" type="submit" value="SAVE" style = "background:  #BBD8D8; color: #566D7E;"></li>
					<li><input id="finishbutton" type="submit" value="FINISH" style = "background:  #BBD8D8; color: #566D7E;"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content">
			<br><br><br>
		</div>
		<br>
		<div class="content">
			<!-- <form action="" method="post" name="post"> -->
			<form>
				<table>
					<tr>
						<td style = "color: #566D7E; font-size: 20px">Describe the event/occasion you are wearing this outfit.</td>
					</tr>
					<tr>
						<td><div class="ui-widget">{{ form.event(size=80, maxlength=200) }}</div></td>
					</tr>
					<br />
					<tr>
						<td style = "color: #566D7E; font-size: 20px">Describe the place/location you are wearing this outfit.</td>
					</tr>
					<tr>
						<td><div class="ui-widget">{{ form.location(size=80, maxlength=200) }}</div></td>
					</tr>
					<br />
					<tr>
						<td style = "color: #566D7E; font-size: 20px">Describe the weather you are wearing this outfit.</td>
					</tr>
					<tr>
						<td><div class="ui-widget">{{ form.weather(size=80, maxlength=200) }}</div></td>
					</tr>
					<br />
					<tr>
						<td style = "color: #566D7E; font-size: 20px">Describe the style of the outfit you are wearing.</td>
					</tr>
					<tr>
						<td><div class="ui-widget">{{ form.style(size=80, maxlength=200) }}</div></td>
					</tr>
					<br />
				</table>
			</form>
			<div id="loadingtext" style="visibility:hidden"><h3>Smartly coming up with fashion outfit advice for you ...</h3></div>	
			<div id="results"></div>

		</div>
	</div>

	<script src="/static/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="static/jquery-ui-1.11.4.custom/jquery-ui.css">
	<script src="static/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
	<script src="/static/auto_test_page3.js"></script>
	<script type="text/javascript">

		$("#savebutton").on("click", function() {
			console.log("ha");
			$("#loadingtext").css("visibility","visible");
			$.post(
				"{{url_for('handle_survey_page3')}}",
				$("form").serialize(),
				function(response){
					$("#loadingtext").css("visibility","hidden");
					$("#results").append("<p>"+response+"</p>");
					// for(key in response){

						// $("#results").append("<p>"+response[key]+"</p>");
					// }
				}
			);
		});

		document.getElementById("finishbutton").addEventListener("click", function() {
				var form = document.createElement('form');
				form.method = "GET";
				// form.action = "{{url_for('thankyou')}}";
				form.action = "{{url_for('survey_page4')}}";
				form.submit();
		});

	</script>

</body>
</html>